.img{
    padding-left: 300px;
    position: absolute;
}

.descricao-container li{

    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    color: white;
    padding-top: 100px;
}
.descricao-container{
    text-decoration: none;
    padding-left: 1100px;
    position: absolute;
}


