:root{
    --accent-color: #ff031a;
}

body{
    height: 100vh;
    background: linear-gradient(90deg, #000, #000e 30%, #000a 50%, #0000), url(../img/background\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    padding: 0 120px;
}
@media(max-width: 768px){
    body{
        padding:  0 30px;
        background-color: #0006;
        background-image: url(../img/background\ 1.png);
        background-blend-mode: darken;
        background-position: 90%;
    }
}
